
body { background-color: #ccc; background-image: url(../img/bg.jpg); background-size: 100%;  }

xbot { width: 150px; height: 82px; display: block; position: absolute; top:50%; left:80%;
    background-image: url(../img/spaceship.png); background-size: 150px, 82px;}

.cqw { background-image: url(../img/bullet.gif); background-size: 25px, 25px;}
.enemy { background-image: url(../img/enemy.png); }